.box{
    height: 400px;
    width: 400px;
    border:1px solid black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product{
    margin-left: 50px;
}
.product h2{
    margin-left: 50px;
}